.contact_page_title
{
    text-align: center;
    margin: 4rem 0 0 0;
}

.contact_page_title h2
{
    color: #888888;
    font-size: 2.5rem;
}

.contact_form_section
{
    padding: 4rem 5rem;
}

.contact_form_side_design
{
    width: 10%;
    background-color: #006d77;
    padding: 10% 5%;
}

.contact_form_side_design:first-child
{
    border-top-left-radius: 70%;
    border-bottom-left-radius: 70%;
}

.contact_form_side_design:last-child
{
    border-top-right-radius: 70%;
    border-bottom-right-radius: 70%;
}

.contact_form
{
    width: 60%;
    border: .25rem solid #006d77;
    border-radius: .5rem;
    padding: 2rem;
}

.form_input
{
    margin: 0 0 1rem 0;
}

.form_input label
{
    color: #006d77;
    display: block;
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0 0 .25rem 0;
}

.form_input label span
{
    color: red;
}

.form_input input, .form_input textarea
{
    width: 100%;
    color: #3f3f3f;
    font-size: 1.25rem;
    border: .15rem solid #006d77;
    border-radius: .35rem;
    padding: .5rem .75rem;
}

.form_input textarea
{
    resize: none;
}

.form_submit
{
    text-align: center;
}

.form_submit button
{
    border: 0;
    cursor: pointer;
}