*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

a
{
    text-decoration: none;
}

.button
{
    background-color: #006d77;
    color: #edf6f9;
    font-size: 1.15rem;
    border-radius: .35rem;
    padding: 1rem 2rem;
}

.button:hover
{
    background-color: #e29578;
}

/* Navigation Bar CSS Starts Here */
nav
{
    background-color: #edf6f9;
    padding: 1.5rem 5rem;
}

nav.flex { justify-content: space-between; }

.nav_logo { margin-right: 1rem; }

.nav_logo h2
{
    color: #006d77;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    word-spacing: .5rem;
}

.nav_menu { justify-content: flex-end; }

.nav_menu a
{
    color: #006d77;
    font-size: 1.05rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin: 0 1rem;
}

.nav_menu a:hover { color: #e29578; }
/* Navigation Bar CSS Ends Here */

.banner
{
    position: relative;
}

.banner_text
{
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 5rem;
    /* z-index: 2; */
}

.banner_text h3
{
    color: #edf6f9;
    font-size: 2.25rem;
    margin: 0 0 .75rem 0;
}

.banner_text p
{
    color: #edf6f9;
    font-size: 1.25rem;
}

.banner_text a
{
    margin: 1.5rem 0 0 0;
}

/* About Section CSS Starts Here */
.about_section
{
    padding: 4rem 5rem;
}

.about_section .about_section_image, .about_section .about_section_text
{
    width: 50%;
}

.about_section_text
{
    padding: 2rem 4rem;
}

.about_section_text h3
{
    color: #006d77;
    font-size: 2.25rem;
    margin: 0 0 1.5rem 0;
}

.about_section_text p
{
    font-size: 1.25rem;
    text-align: justify;
    margin: 0 0 1.25rem 0;
}

.about_section_text a
{
    border-radius: 3rem;
    position: relative;
    top: 1.5rem;
}
/* About Section CSS Ends Here */

/* Services Section CSS Starts Here */
.service_section
{
    padding: 4rem 5rem;
}

.service_section_text
{
    text-align: center;
    margin: 0 0 2rem 0;
}

.service_section_text h3
{
    color: #006d77;
    font-size: 2.5rem;
}

.service_section_cards
{
    justify-content: space-between;
    align-items: stretch;
}

.service_section_cards .service_card
{
    width: 25%;
    background-color: #ffffff;
    text-align: center;
    border-radius: .35rem;
    box-shadow: .25rem .5rem .75rem #888888;
    margin: 1rem 2rem;
    padding: 3rem 2rem;
}

.service_card .service_card_logo
{
    width: 7rem;
    height: 5rem;
    background-color: #edf6f9;
    border-top-left-radius: 50%;
    border-top-right-radius: 70%;
    border-bottom-left-radius: 70%;
    border-bottom-right-radius: 50%;
    margin: auto;
}

.service_card_logo i
{
    color: #006d77;
}

.service_card h3
{
    color: #006d77;
    font-size: 1.5rem;
    margin: 1rem 0;
}

.service_section_button
{
    text-align: center;
    margin: 2rem 0 0 0;
}
/* Services Section CSS Ends Here */

/* Statistics Section CSS Starts Here */
.statistics_section
{
    background-color: #006d77;
    padding: 4rem 5rem;
}

.statistic_section_cards
{
    justify-content: space-between;
    align-items: stretch;
}

.statistic_card
{
    width: 20%;
    flex-direction: column;
    text-align: center;
    border: .15rem solid #e29578;
    border-top-right-radius: 30%;
    border-bottom-left-radius: 30%;
    margin: 1rem;
    padding: 2rem;
}

.statistic_card h3
{
    color: #f88e67;
    font-size: 2.5rem;
}

.statistic_card h4
{
    color: #edf6f9;
    font-size: 2rem;
}
/* Statistics Section CSS Ends Here */

/* Feedback Section CSS Starts Here */
.feedback_section
{
    padding: 4rem 5rem;
}

.feedback_section_text
{
    text-align: center;
    margin: 0 0 2rem 0;
}

.feedback_section_text h3
{
    color: #006d77;
    font-size: 2.5rem;
}

.feedback_section_cards
{
    justify-content: space-between;
    align-items: stretch;
}

.feedback_section_cards .feedback_card
{
    width: 25%;
    background-color: #ffffff;
    text-align: center;
    border-radius: .35rem;
    box-shadow: .25rem .5rem .75rem #888888;
    margin: 1rem 2rem;
    padding: 3rem 2rem;
}

.feedback_card_image img
{
    width: 9rem;
    height: 9rem;
    border: .25rem solid #006d77;
    border-radius: 50%;
}

.feedback_card_title h3
{
    color: #006d77;
    font-size: 1.5rem;
    margin: 1rem 0 .5rem 0;
}

.feedback_card_subtitle h4
{
    color: #888888;
    font-size: 1.15rem;
}

.feedback_card_description p
{
    color: #006d77;
    font-size: 1.15rem;
    text-align: justify;
    margin: 1rem 0 0 0;
}
/* Feedback Section CSS Ends Here */

/* Companies Logo Section CSS Starts Here */
.companies_logo_section
{
    padding: 3rem 5rem;
}

.companies_logo_section .companies_logos
{
    justify-content: space-between;
}

.companies_logos .company_logo
{
    width: 12rem;
    height: 6rem;
}
/* Companies Logo Section CSS Ends Here */

/* Footer CSS Starts Here */
footer
{
    background-color: #edf6f9;
    padding: 4rem 5rem;
}

footer.flex
{
    justify-content: space-between;
    align-items: flex-start;
}

.footer_section
{
    width: 25%;
    margin: 0 2rem;
}

.footer_section h3
{
    color: #006d77;
    font-size: 1.5rem;
    margin: 0 0 1rem 0;
}

.footer_section_one p
{
    font-size: 1.15rem;
    text-align: justify;
    color: #2c2a2a;
}

.footer_section_two .explore_pages
{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.explore_pages a
{
    color: #e2511c;
    font-size: 1.15rem;
    margin: 0 0 .5rem 0;
}

.explore_pages a:hover
{
    color: #006d77;
}

.footer_section_three .social_links
{
    justify-content: flex-start;
}

.social_links a
{
    margin: 0 1rem 0 0;
}

.social_links a i
{
    color: #05373b;
}
/* Footer CSS Ends Here */